.line-title{
    border: 1px solid #f7d381;
    width: 25%;
    position: relative;
    bottom: 10px
}

.title-about{
  font-family: $cormorant;
  font-weight: 700;
  font-size: 51px;
  color: white;
   @include respond-to(xs){
    font-size: 41px;
  }
}

.title-abouts{
	font-family: $lato;
  font-weight: 300;
  font-size: 51px;
  color: white;
  @include respond-to(xs){
    font-size: 41px;
  }
}
  