%li
  %a{:href => "#"} 
    Inicio
%li
  .point
%li
  %a{:href => "#promo"} 
    Promos
%li
  .point
%li
  %a{:href => "#gallery"} 
    Galería
%li
  .point
%li
  %a{:href => "#contact"} 
    Contacto
