-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.app-navbar#nav-desk
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -# %span.brand-logo Keppler
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'app/layouts/navigation_links'




-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#nav-mobile
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -# %span.brand-logo VINTAGE 
      -# %span.brand-logo-two CLUB
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'app/layouts/navigation_links'

