.mask-about
  %section#about.about-section
    %div{:class => "container-fluid"}
      .row
        .col-md-6.style-title
          %h1.text-center.title-about
            VINTAGE
            %span.title-abouts CLUB
          %hr.text-center.line-titles/
          %p.text-justify.description-about Primer local nocturno en el Estado Falcón con tres ambientes totalmente diferentes bajo un mismo concepto Vintage. Todo en un solo lugar.
        .col-md-6
          .frame-space
            .space-vintage
              %div.space-one
                .gradient-vintage-left
                .gradient-vintage-right
              %div.space-two
                .gradient-vintage-left
                .gradient-vintage-right
              %div.space-three
                .gradient-vintage-left
                .gradient-vintage-right

        
:javascript
  $('.space-vintage').slick({
    arrows: false,
    fade: true,
    autoplay: true
  });









