%section#gallery.gallery-section
  .effect-gallery
    .container
      .row
        .col-md-12
          %h1.text-center.title-about Galería
          %hr.text-center.line-title/ 
        .col-md-6
          %h4.text-center.title-gallery FOTOS
          .cover-gallery-a
            .mask-cover-gallery
              .icon-cover.text-center
                %i.icon.icon-camera
                %h2.title-link Ver fotos
        .col-md-6
          %h4.text-center.title-gallery VÍDEOS
          .cover-gallery-b
            .mask-cover-gallery
              .icon-cover.text-center
                %i.icon.icon-camrecorder 
                %h2.title-link Ver vídeos


