-# = video_tag 'app/video.mp4', autoplay: true, :loop => true, height: '', width:'', muted: true
-# = video_tag 'app/video.mp4', controls: false, autoplay: true, muted: true, loop: true, width:'100%', height:''
%section#home 
#frame
  #frame-border
#logo-main
  =image_tag 'app/logo.svg', :class => "logo-vintage" 
%a{:href => "#about"}
  #mouse


 
  


       




        
