%section#promo.promo-section
  .effect-promo
    .container
      .row
        .col-md-12
          %h1.text-center.title-about Promos
          %hr.text-center.line-title/
        .col-md-6
          .cover-promo-a.center-block
            .title-promo
              %h3.title-cover #JuevesDeVintage
              %h5.subtitle-cover Ellas FreeCover + Tercios a Mil
        .col-md-6
          .cover-promo-b.center-block
            .title-promo
              %h3.title-cover 
              %h5.subtitle-cover


 

